/* General
--------------------------------------------------- */
body {
	font-family: 'Unkempt', cursive, Verdana;
	width:100%;
	max-width:1920px;
}

.row {
	width: 960px;
	margin: 0 auto;
}

p {
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.1em;
}

h2 {
	margin-bottom: 20px;
	font-size: 2em;
	text-align:center;
}

h3 {
	font-size: 1.5em;
	text-align:center;
}

.clear {
	clear:both;
}



/* Header
--------------------------------------------------- */
header {
	position:relative;
	height:650px;
	
	color:#4e0500;
	text-align:center;
	
	overflow:hidden;
	
	background: #ffa00d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTAwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iI2ZmYzkzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #ffa00d 0%, #ffc935 43%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa00d), color-stop(43%,#ffc935)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa00d 0%,#ffc935 43%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa00d 0%,#ffc935 43%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa00d 0%,#ffc935 43%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffa00d 0%,#ffc935 43%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa00d', endColorstr='#ffc935',GradientType=0 ); /* IE6-8 */
}

/* IE9 SVG, needs conditional override of 'filter' to 'none'
---------------------------------------------------------------------------------------------------- */
.ie9 .gradient {
	filter: none;
 }

header h1 {
	padding-top:20px;
	margin-bottom: 45px;
	font-size: 3.75em;
	line-height:0.9em;
}

header nav span {
	margin:0 30px;
	font-size: 3em;
	line-height:1em;
	color:#4e0500;
	text-decoration:none;
	cursor: pointer;
}

header li a {
	margin: 0;
	font-size: 1em;
	color:#4e0500;
	text-decoration: none;
}

header li a:hover {
	color: #9d0b01;
}

header ul.language {
	position:absolute;
	top:-10px;
	right:20px;
}

header li {
	float:left;
	margin-left:20px;
}

header #sun {
	position: absolute;
	top: 310px;
	left: 50%;
	margin-left: -110px;
	
	width: 404px;
	height: 404px;
	
	background: url(../images/sol.png) bottom center no-repeat;
	
	z-index: 1;
}

header #background {
	position:absolute;
	top:325px;
	left:0;
	
	width: 100%;
	height: 325px;
	
	background:url(../images/bg_header.png) bottom center no-repeat;
	
	z-index:2;
}

header #forefront {
	position:absolute;
	bottom:0;
	left:0;
	
	width: 100%;
	height: 325px;
	
	background:url(../images/fore_header.png) bottom center no-repeat;
	
	z-index:3;
}


header #helice {
	position: absolute;
	top: 225px;
	left: 50%;
	margin-left:53px;
	
	z-index:4;
	
	/* animation */
	animation: turning 25s linear infinite;
	-moz-animation: turning 25s linear infinite; /* Firefox */
	-webkit-animation: turning 25s linear infinite; /* Safari and Chrome */
	-o-animation: turning 25s linear infinite; /* Opera */
}

.ie header #helice .helice-img {
	display:none;
}


/* section About
--------------------------------------------------- */
#about-us {
	padding-bottom: 40px;
	background: #4e0500;
	color: #ffc935;
}

#about-us a {
	color: #ffc935;
}

/* section Web Projects
--------------------------------------------------- */
#web-projects {
	padding-bottom: 30px;
	
	background: #4e0500;
	color: #ffc935;
}

.web-projects-wrapper {
	margin: 0 auto;
}

.ie8 .web-projects-wrapper, 
.ie7 .web-projects-wrapper {
	width: 960px;
}

.web-projects-wrapper .project {
	position: relative;
	float:left;
	
	width: 215px;
	margin: 0 50px 50px;
	
	background: url(../images/window.png) center top no-repeat;
	
}

.web-projects-wrapper .project h3 {
	padding-top: 300px;
}

.web-projects-wrapper .project p {
	font-size:1em;
	margin-left: 20px;
}

.web-projects-wrapper .project ul {
	margin-left: 18px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1em;
	list-style: disc;
}

.web-projects-wrapper .project a.cta {
	display: inline-block;
	margin-left: 20px;
	padding: 5px 10px;
	
	font-family: 'Unkempt', cursive, Verdana;
	font-size: 1.2em;
	color: #4e0500;
	text-decoration: none;
	
	background: #ffc935;
	border-radius: 7px;
}

.web-projects-wrapper .project a.cta:hover {
	background: #ffa00d;
	box-shadow: 1px 1px 15px #ffa00d;
}

.web-projects-wrapper .project .mobile-symbol {
	display:none;
}

.web-projects-wrapper .project .window-left {
	position: absolute;
	top: 74px;
	left: 26px;
}

.web-projects-wrapper .project .window-right {
	position: absolute;
	top: 74px;
	right: 26px;
}

.web-projects-wrapper .project .logo {
	position: absolute;
	left: 50px;
}

.logo.bugtek {	top: 150px; }
.logo.senna {	top: 148px; }
.logo.aquatek {	top: 158px; }
.logo.myrrha {	top: 150px; }
.logo.biogalenus {	top: 134px; }
.logo.blackjack {	top: 121px; }
.logo.guitar {	top: 112px; }
.logo.old-portfolio {	top: 125px; }



@media screen 
and (max-width: 320px) {
	.web-projects-wrapper {
		width: 320px;
	}
	
	.row {
		width: 300px;
	}
	
	header h1 {
		font-size: 2.2em;
		padding-top: 50px;
		margin: 0 5px 25px;
	}
	
	header nav span {
		font-size:2.2em;
		margin: 0 5% 40px;
	}
	
	header li a {
		font-size: 1.8em;
	}
	
}

@media screen
and (min-width: 321px)
and (max-width: 655px) {
	header h1 {
		font-size: 2.6em;
		padding-top: 30px;
		margin: 0 10px 25px;
	}
	
	header nav span {
		font-size:2.2em;
		margin: 0 3%;
	}
	
	.web-projects-wrapper {
		width: 340px;
	}
	
	.row {
		width: 94%;
	}
}

@media screen 
and (min-width: 656px)
and (max-width: 975px) {
	header h1 {
		font-size:3em;
	}
	
	header nav span {
		font-size:2.5em;
	}
	
	.web-projects-wrapper {
		width: 656px;
	}
	
	.row {
		width: 94%;
	}
}

@media screen and 
(max-device-width: 1024px)  {
	.web-projects-wrapper .project .mobile-symbol {
		display:block;
		position: absolute;
		top: 94px;
		left: 50%;
		margin-left:-53px;
		z-index:10;
		opacity:1;
	}	
}

@media screen 
and (min-width: 976px)
and (max-width: 1295px) {
	.web-projects-wrapper {
		width: 976px;
	}
}

@media screen 
and (min-width: 1296px) {
	.web-projects-wrapper {
		width: 1296px;
	}
}